annotated-types==0.7.0  # Добавляет возможность добавлять аннотации к типам данных
certifi==2024.7.4  # Предоставляет набор сертификатов SSL/TLS для безопасного соединения
charset-normalizer==3.3.2  # Определяет кодировку символов текстового файла
colorama==0.4.6  # Добавляет цветной вывод в консоль
idna==3.7  # Предоставляет поддержку доменных имен в формате IDNA
iniconfig==2.0.0  # Работает с файлами конфигурации в формате INI
packaging==24.0  # Предоставляет инструменты для работы с пакетами Python
pluggy==1.5.0  # Плагинная система для pytest
pydantic==2.8.2  # Библиотека для валидации данных и создания моделей
pydantic_core==2.20.1  # Ядро библиотеки pydantic
pytest==8.2.1  # Фреймворк для тестирования Python-кода
requests==2.32.3  # Библиотека для работы с HTTP-запросами
typing_extensions==4.12.2  # Расширения для стандартной библиотеки типов Python
urllib3==2.2.2  # Библиотека для работы с HTTP-запросами на низком уровне
